/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@define-color highlight #1e1e1e;
@define-color fg #ffffff;
@define-color base1 #000000;
@define-color base2 #000000;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    font-family: "DejavuSans Mono"
}


/* The whole bar */
#waybar {
    color: @fg;
    background-color: @base1;
    font-family: JetbrainsMono;
    font-size: 12px;
}



/* Every modules */
#battery,
#backlight,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery
  {
    padding:0.5rem 0.6rem;
    margin: 1px 5px;
    /*background-color: @base2;*/

}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */
#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding:7px;
}
#window {
    font-weight: bold;
    /*background-color: @base2;*/
    padding: 5px;
    color:#A89984;
}

#workspaces {
    font-size:12px;
}

#workspaces button {
    border-bottom: 0px solid transparent;
    margin: 1px 1px;
    min-width: 28px;
    background-color: @base2; 
    padding:0px;
    color: @fg;
}

#workspaces button.focused {
    background: @highlight;
    /*margin-bottom: 1px;*/
    padding-left:0;
    color: @fg;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-power {
    margin-left:0px;
    margin-right:0px;
    border-radius: 50px ;
    /*background-color: @base2;*/
    font-size: 15px;
    color: #FB4934;

}

#custom-launcher {
    color: @base1;
    font-size:15px;
    margin-left:0px;
    margin-right:5px;
    background-color:@highlight ;
    border-radius: 0px 50px 50px 0px ;
}

#tray {
    border-bottom-left-radius: 50px ;
    border-top-left-radius: 50px ;
   /* border-right: 3px solid  @highlight;*/
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #c9545d;
}

#custom-waybar-mpris {
   /* color:#A89984;*/
    padding:5px;
}
